/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
body {
    background-color: #00ddff;
}
header {
    background-color: #b600ff;
    padding: 17px;
}
header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav {
    gap: 3rem;
    width: 100%;
    justify-content: flex-start;
    margin: 10px 70px;
}
a {
    color: orangered;
    border: dashed darkcyan 3px;
    padding: 5px;
    text-decoration: none;
    background-color: darkgreen;
}
a:hover {
background-color: white;
color: #005dff;
}
h1 {
    font-size: 50px;
    color: #005dff;
    margin: 0px 0px 0px 20px;
}
.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.my-image {
    width: 750px;
    height: 550px;
    display: inline-block;
    margin-top: 50px;
}
.my-image img {
    height: 100%;
    width: 100%;
}
.my-info {
    text-align: center;
    padding-top: 300px;
    padding-left: 100px;
    
}
.my-items {
    display: flex;
}
.my-items .item {
    border: solid black 3px;
    width: 100px;
    height: 100px;
    margin: 20px;
}
footer {
    text-align: center;
}